POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

FLASK_SECRET_KEY=change-me
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
